extends ./includes/layout.pug

block page
  div
    .hero.is-primary.is-small
      .hero-body
        .container
          h1.title Blog
          h2.subtitle Our latest news &amp; updates
    section.section
      .container
        #blog

//- block scripts
  script(src="./js/blog.js")
