extends ./includes/layout.pug

block page
  #projectList
    .hero.is-primary.is-small
      .hero-body
        .container
          h1.title Projects
          h2.subtitle Latest projects and contributions
    section.section
      .container
        .project-filters
          include includes/filters.pug
          #projects

block scripts
  script(src="/dist/projects.js")
