#projectList(data-endpoint=endpoint)
  .hero.is-primary.is-small
    .hero-body
      .container
        h1.title= pageTitle
        h2.subtitle= pageSubtitle
  section.section
    .container
      .project-filters
        include includes/filters.pug
        #projects
  script(src="/dist/projects.js")
