extends ./includes/layout.pug

block page
  #projectList
    .hero.is-primary.is-small
      .hero-body
        .container
          h1.title Projects
          h2.subtitle The projects we're working on
    section.section
      .container
        .columns
          .column
            #projects.columns.is-multiline
          .column.is-narrow
            include includes/filters.pug

block scripts
  script(src="/dist/projects.js")
