//
// Bulma customisation ...
//

$primary: #c1656b
$primary: #324a5c
$body-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif
$family-monospace: 'Fira Mono', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace
$navbar-height: 0


//
// Bulma import
//

@import ~bulma/sass/utilities/_all
@import ~bulma/sass/base/_all
@import ~bulma/sass/elements/content
@import ~bulma/sass/elements/tag
@import ~bulma/sass/elements/container
@import ~bulma/sass/elements/title
@import ~bulma/sass/layout/_all
@import ~bulma/sass/components/breadcrumb

@import ~bulma-timeline/dist/css/bulma-timeline

//
// Layout - How the page is laid out
//

#app
  display: flex
  flex-direction: column
  min-height: 100vh
  border-bottom: 6px solid $primary
  &> :not(nav):not(footer)
    flex: 1


//
// Custom components - groups of html elements
//

.is-monospace, pre, code
  font-family: $family-monospace

nav.primary
  background-color: $primary
  padding: 1.5rem 1.5rem
  font-size: 1.2rem
  .brand
    width: 53px
    height: 28px
    display: inline-block
    background-size: contain
    position: fixed
    left: .75rem
    top: .75rem
    z-index: 10
  .pages
    a
      color: $white
      font-size: 0.8em
      color: $grey-lighter
      padding-right: 0.75em

.breadcrumb
  +touch
    padding: 0 1.5rem
  a
    padding-top: 0.5em
    padding-bottom: 0.5em

.card-timestamp
  text-align: right
  color: $grey-light
  font-weight: 300

footer
  font-size: 0.85rem
  margin-bottom: 0.5em
  color: $grey
  a
    color: $grey-darker
    font-weight: bold

#filters
  .title, .tags
    margin-bottom: 0.5rem
  .tag
    cursor: pointer
    &.is-active
      text-decoration: underline
      background-color: $primary
      color: $primary-invert
  .member-tag
    cursor: pointer
    padding: 0.5rem
    &.is-active > img
      border: 0.2em solid $primary
    img
      border-radius: 50%
    &.is-active .member > span
      border: 0.2em solid $primary
      border-radius: 50%

    .member
        background-color: #dfe1e6
        border-radius: 25em
        color: #172b4d
        cursor: pointer
        display: block
        float: left
        height: 50px
        margin: 0 4px 4px 0
        overflow: visible
        position: relative
        width: 50px
        text-decoration: none
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
        z-index: 0

    .member-initials
        display: block
        font-size: 16px
        font-weight: 700
        height: 50px
        left: 0
        line-height: 50px
        overflow: hidden
        position: absolute
        text-align: center
        top: 0
        width: 100%

.blog-post
  margin-bottom: 1em
  padding-bottom: 1em
  &:not(:last-child)
    border-bottom: 3px dashed $border

.project-filters
  +tablet
    display: flex
    flex-direction: row-reverse
    #filters
      max-width: 25%
      padding-left: 1.5rem
      padding-top: 1rem

#projectGrid
  flex: 1
  display: flex
  flex-wrap: wrap
  background-color: darken($white-ter, 3%)
  padding: 0.5rem
  border-radius: $radius-large
  .project-item
    +fullhd
      width: 33%
    +mobile
      width: 100%

.project-item
  padding: 0.5rem
  display: flex
  width: 50%
  .inner
    flex: 1
    background: $white
    overflow: hidden
    border-radius: $radius
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.05)
  .cover
    width: 100%
    height: 0
    padding-bottom: percentage(9/16)
    background-position: center
    background-size: contain
    background-repeat: no-repeat
  .info
    padding: 0.5em
  &.no-cover .cover
    background: repeating-linear-gradient(45deg, $white-bis, $white-bis 10px, $white-ter 10px, $white-ter 20px)

.timeline .timeline-header .milestone
  text-transform: uppercase
