// Variable customisation ...
$primary: #c1656b
$body-family: Poppins, sans-serif
$family-monospace: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace

@import ~bulma/sass/utilities/_all
@import ~bulma/sass/base/_all
@import ~bulma/sass/elements/_all
@import ~bulma/sass/layout/_all
@import ~bulma/sass/grid/_all
@import ~bulma/sass/components/breadcrumb
// @import ~bulma/bulma.sass

.is-monospace, pre, code
  font-family: $family-monospace

body.cloak
  display: none

nav.primary
  background-color: $primary
  color: $white
  padding: 0.25rem 1.5rem
  font-size: 1.2rem
  .brand
    font-weight: bold
  .pages
    a
      font-size: 0.8em
      color: $grey-lighter
      padding-right: 0.75em
  a
    color: $white

.breadcrumb a
  padding-top: 0.5em
  padding-bottom: 0.5em

#app
  display: flex
  flex-direction: column
  min-height: 100vh
  border-bottom: 6px solid $primary
  &> :not(nav):not(footer)
    flex: 1

#blog
  .blog-post
    margin-bottom: 1em
    padding-bottom: 1em
    &:not(:last-child)
      border-bottom: 3px dashed $border

.card-timestamp
  text-align: right
  color: $grey-light
  font-weight: 300

footer
  font-size: 0.85rem
  margin-bottom: 0.5em
  color: $grey
  a
    color: $grey-darker
    font-weight: bold
